* {
  padding: 0;
  margin: 0;
  text-align: left;
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Figtree', sans-serif; */
  /* font-family: 'Zen Kaku Gothic New', sans-serif; */
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight:300;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

:root {
  --main-grey:#E1E0DD;
  --main-yellow:#EFD282;
  --main-blue:#C6D3E1;
  --main-green:#6E8F84;
  --main-red:#BB7778;
}


.fullHeight {
  height: 100vw;
}

#intro {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

#intro > div {
  background-color: lightblue;
  background-image: url(./imgs/background.png);
  background-size:cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 8vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#intro-name {
  font-size: 16px;
  width: 100%;
  margin-bottom: 3%;
}

#intro-description {
  font-size: 40px;
  line-height: 100%;
  width: 100%;
}

#intro-description span {
  font-family: 'Unica One', cursive;
  font-size: larger;
  color: var(--main-grey);
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

#intro-description span:first-child:hover {
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 5px 5px 8px  var(--main-yellow);
}

#intro-description span:nth-child(2):hover {
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 5px 5px 8px  var(--main-yellow);
}

#logo_initials, #logo_fullname, #whereamI  {
  position: absolute;
  left: 13vw;
  top: 13vw;
  padding-top: 12px;
}

#logo_initials img, #logo_fullname img {
  height: 32px;
}

#logo_fullname {
  display: none;
}

#arrow_down {
  position: absolute;
  bottom: 8vh;
}

#menu-icon, #menu-icon-close {
  position: fixed;
  top: 13vw;
  right: 13vw;
  z-index: 101;
}



#menu-open {
  z-index: 100;
}

#menu-open a {
  font-size: 40px;
  margin: 0.5rem;
}

#menu-open a:hover {
  color: var(--main-yellow);
}

#menu-contactOptions {
  margin: 10vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

#menu-contactOptions a {
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  box-sizing: border-box;
  width: 100vw;
  padding: 14vh 13vw;
  padding-bottom: 4vh;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-yellow)
}

/* .whareamI {
  text-transform: none;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Unica One', cursive;
  position: absolute;
  left: 13vw;
  top: 13vw;
  padding-top: 12px;
} */

#whereamI {
  padding: 0;
  font-family: 'Unica One', cursive;
  font-size: 40px;
}

hr {
  width: 20%;
  border: 1px solid var(--main-yellow);
}

/* #principles-description {
  margin: 7vh 0;
} */

#principles-description > div  {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 350px;
  margin: auto;
  margin-top: 2vh;
} 



#principles-description > div > img {
  width: 50%;
  max-width: 200px;
}

#principles-description p {
  font-size: 12px;
}

button {
  margin: auto;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  text-decoration:none;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;  
  font-size: 14px;
  font-weight: 600;
}

button:hover {
  cursor: pointer; 
}

.primary-button {
  background-color: var(--main-yellow);
  border: none;
  color: white;
}

.secondary-button {
  background-color: transparent;
  border: 1px solid var(--main-yellow);
  color: var(--main-yellow);

}

.invisible-button {
  border: none;
  background-color: transparent;
}

#menu-open {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#menu-open > div {

  border: 1px solid var(--main-yellow);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#footer-actions {
  margin: 0 5vw;
  border-top: 1px solid var(--main-yellow);
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.contactOption {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin: 0.5rem;
  padding: 0 8vw;
}

.contactOption img {
  width: 1rem;
  margin-right: 0.5rem;
}

#copyrightSignature {
  font-size: x-small;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#arrow_up {
  margin-right: 8vw;
  filter: invert(80%) sepia(29%) saturate(505%) hue-rotate(5deg) brightness(99%) contrast(94%);
}

html { 
  scroll-behavior: smooth; 
}

#projectCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectCard {
  margin-top: 2rem;
  width: 100%;
}

.projectImage {
  width: 100%;
  height: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.projectImage img {
  width: 100%;
  object-fit: cover;
  background-color: lightgrey;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.projectCard p {
  font-size: 12px;
  margin: 0 1rem;
}

.projectCard h3 {
  margin: 0.5rem 1rem;
}

#picture-and-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* #picture-me {
  min-width: 150px;
  width: 30vw;
  max-width: 300px;

  min-height: 150px;
  height: 30vw;
  max-height: 300px;

  border-radius: 50%;
  overflow: hidden;
  margin: 5vw;
} */

#picture-me {
  margin: 5vh 0;
}


#picture-me img {
  width: 100%;
  object-fit: cover;
  background-color: lightgrey;
  flex-basis: content;
}

#story-me p {
  margin-top: 2rem;
}


#about-page h2 {
  font-family: 'Unica One', cursive;
  font-size: 40px;
  color: var(--main-yellow)
}

#about-page h3 {
  font-size: 14px;
  font-weight: 600;
}

#skills {
  border: 1px solid var(--main-yellow);
  padding: 5%;
  display: flex;
  flex-direction: column;

}

#skills ul{
  list-style-type:none;
  font-size: 12px;
  margin-bottom: 1rem;
}

#experience > div, #education > div {
  margin-top: 2rem;
}

#randomFact {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

#randomFactText {
  width: 50vw;
  height: 10vh;
  color: white;
  font-size: 3vh;
  font-weight: 600;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -25vw;
  margin-top: -5vh;
}

#randomFactImage {
  width: 100%;
  height: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#randomFactImage img {
  width: 100%;
  object-fit: cover;
  background-color: black;
}

#randomFactButton {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -60px;
}


@media screen and (min-width:481px) {

  #principles-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  #principles-description > #interdisciplinary-collaboration {
    flex-direction: row-reverse;
  }

  #skills {
    flex-direction: row;
    justify-content: space-around;;
  }

  #skills li, #skills h3 {
    text-align: center;
  }


}

@media screen and (min-width: 768px) {

  #logo_initials, #logo_fullname, #whereamI {
    left: 8vw;
    top: 8vw;
  }
  
  #arrow_down {
    bottom: 13vh;
  }
  
  #menu-icon, #menu-icon-close {
    top: 8vw;
    right: 8vw;
  }


}

@media screen and (min-width:1200px) {
  
  .projectCard {
    width: 49%;
  }
  
  .projectImage {
    height: 20vw;
  }
  
  #logo_fullname {
    display: block;
  }
  
  #logo_initials {
    display: none;
  }
  
  #picture-and-story {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #picture-me {
    min-width: 300px;
    height: 300px;
  }

  #intro-description {
    font-size: 60px;
  }
  
}
@media screen and (min-width:1600px) {

  section {
    padding: 8vh 0;
    margin: auto;
    margin-top: 8vh;
    width: 1200px;
  }



  /* footer {
    margin: auto;
    margin-top: 8vh;
    width: 1200px;
    background-color: red;
  } */
}

